.form-container {
    border: 1px solid #000000;
    background: #e6e6e6;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));
    background: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    text-decoration: none;
    vertical-align: middle;
    min-width:410px;
    padding:20px;
    display: table;
    margin: 0 auto;
}
.form-field {
    border: 1px solid #828282;
    background: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #000000;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    padding:8px;
    margin-bottom:20px;
    width:125px;
    text-align: right;
}
.select-form-field {
    border: 1px solid #828282;
    background: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #000000;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    padding:8px;
    margin-bottom:20px;
    width:145px;
    text-align: right;
    direction: rtl;
}
.form-field:focus {
    background: #fff;
    color: #545454;
}
.form-container h2 {
    text-shadow: #ffffff 0 1px 0;
    font-size:18px;
    margin: 0 0 10px 0;
    font-weight:bold;
    text-align:center;
}
.form-title {
    margin-bottom:10px;
    color: #000000;
    text-shadow: #ffffff 0 1px 0;
}
.txtlabel {
    width: 180px;
    float: left;
    margin-top: 7px;
}

.righttext {
    width: 70px;
    display: inline-block;
    margin-top: 7px;
    margin-left: 10px;
}

.last {
    margin-bottom: -10px;
}